@media only screen and (max-width: 1230px){
	.wrapper{
		max-width: 962px;
	}
	.advantages{
		background: url(../img/bg-left.png) 0% 100% no-repeat, url(../img/bg-rigte.png) 95% 100% no-repeat;
		background-size: 197px 435px;
	}
	.wrap-adv>.media-wrap{
		width: 750px;
	}
	.advantages-wrap{
		width: 100px;
		height: 150px;
	}
	.advantages-wrap p{
		font-size: 12px;
	}
	.whats_next{
		background-size: 326px 312px;
	}
	.whats-next-text li strong{
		display: block;
		width: 42%;
	}
}

@media only screen and (max-width: 992px){
	.wrapper{
		max-width: 738px;
	}
	.menu{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.menu-nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.menu-nav--contact a{
		flex-shrink: 0;
	}
	.menu>.menu-nav--contact:first-child .{
		order: 2;
	}
	.menu>.menu-nav--bar:first-child {
		order: 1;
	}
	.section-form{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.trade-offer{
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.trade-offer p.titlle{
		text-align: center;
	}
	.md-col-3x{
		width: 33.33333%
	}
	.md-row{
		justify-content: center;
	}
	.md-row>.md-col-3x:nth-child(3n+1){
		margin-bottom: 20px;
	}
	.advantages-centr{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.advantages {
    	background: url(../img/bg-left.png) 0% 100% no-repeat, url(../img/bg-rigte.png) 100% 0% no-repeat;
        background-size: auto, auto;
    	background-size: 144px 320px;
    }
    .whats_next {
    	background-size: 241px 162px, 241px 205px;
	}
	.reviews-item--text h3{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.reviews-item--text p{
		font-size: 11px;
	}
	

	
}
	
@media only screen and (max-width: 768px){
	
	.wrapper{
		max-width: 540px;
	}
	.hamburger{
		display: block;
	}
	.menu-nav--bar{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 540px;
		margin: 0 auto;
		z-index: 9999;
		position: absolute;
		left: 0;
	    right: 0;
	   	top: -100%;
		opacity: 0;
		transition: opacity 1.0s ease-in-out,
					top .1s ease-in-out 1.0s;
	}
	.menu_show{
		top: 121px !important;
	    transition: all .5s ease-in-out;
	    left: 0;
	    right: 0;
	    width: 100%;
	    opacity: 1;
	    width: 540px;
		margin: 0 auto;
	    transition: opacity 1.0s ease-in-out;
	}
	.menu{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;

	}
	.menu-logo{
		flex-shrink: 0;
		margin-right: 15px;
	}
	.menu-nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-ms-align-items: center;
		align-items: center;
	}
	.menu-nav--bar ul{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
		padding: 20px;
		width: 50%;
  		margin: 0 auto;
	}
	.menu-nav--contact{
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
	text-align: center;
	}
	.menu-nav--contact>a{
		display: block;
		width: 100%;
	}
	.menu_icon{
		color: #f7e034;
	}
	.menu_icon .fa-bars{
		font-size: 52px;
	}

	.cm-col-1x{
		width: 100%
	}
	.cm-row>.cm-col-1x{
		margin-bottom: 15px;
	}
	.advantages {
	    background: url(../img/bg-left.png) 0% 0% no-repeat, url(../img/bg-rigte.png) 100% 100% no-repeat;
        background-size: auto, auto;
   		 background-size: auto, auto;
    	background-size: 144px 320px, 144px 281px;

	}
	.wrap-adv > .media-wrap{
		width: 541px;
	}
	.whats-next-text li{
		font-size: 11px;
	}
	.whats-next-text li strong{
		font-size: 11px;
		padding-left: 15px;
		margin-right: 0;
	}
	.menu-nav--bar-footer{
		display: none;
	}
}

/*@media only screen and (max-width: 560px){
	
	.wrapper{
		min-width:360px;

	}
	.menu{
		min-width: 360px;
		margin: 0 auto; 
	}
	
	
}
*/

